/*=======Projects Section==============*/
.projects_container {
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;  
}

.project_filers {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

h3 {
    color: var(--color-deepPink);
}
.project_item {
    cursor: pointer;
    color: var(--color-light);
    padding: .25rem .75rem;
    font-weight: 500;  /*font medium*/
    border-radius: .5rem;
}

.project_card {
    background-color: var(--color-light);
    padding: 1.25rem;
    border-radius: .5rem;
    /* max-width: 250px; */
    max-height: 400px;
}

.portfolio_item-details {
    display: none;
}

.project_img {
    border-radius: .5rem;
    max-width: 100%;
    
    /* margin-bottom: 1rem; */
}

.project_title {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.project_button{
    color: var(--color-deepPink);
    font-size: medium;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.project_button-icon {
    font-size: 1rem;
    transition: .3s;
}

.project_button:hover .project_button-icon{
    transform: translateX(.25rem);
}


/*Active Item Work */
.active-project {
    background-color: var(--color-light);
    color: black;
}



/* Portfolio PopUp */ 
.portfolio_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    transition: .3s;
    
    /* opacity: 0; */
    /* visibility: hidden; */
}

/* .portfolio_popup.open {
    opacity: 1;
    visibility: visible;
} */
.portfolio_popup-inner {
    background-color: rgb(39, 32, 32);
    
/* height: ; */
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio_popup-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    column-gap: 3rem;
    height:400px;
    max-width: 800px;
}

.portfolio_popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-deepPink);
    cursor: pointer;
}

.portfolio_popup-img {
    border-radius: 0.5rem;
    height: 400px;
    width: 400px;
}

.portfolio_popup-subtitle {
    font-size: large;
    margin-bottom: var(--mb-0-25);
}




.details_title {
    font-style: italic;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.details_description {
    font-size: small;
    margin-bottom: var(--mb-2);
}

/* .details_info {
display: flex;
justify-content: center;
} */

.details_info li {
    margin-bottom: var(--mb-0-75);
    text-transform: capitalize;
    font-style: italic;
}

/* .details_info li:last-child {
    margin-bottom: 0;
} */

.details_info li span {
    font-weight: normal;
}

/* .details_info li  {
    text-transform: lowercase;
    color: violet;
} */