/*-------------------SIDEBAR PROPERTIES--------------*/
.navHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0;
    background-color: rgba(248, 245, 245, 0.979);
    box-shadow: 0 4px 8px rgba(14, 1, 1, 0.959);
  }
  
  /*=======TOGGLE BUTTON PROPERTIES=======*/
  .nav-toggle {
    margin: 20px;
  }
  
  .nav-icon {
    display: none;
  }
  
  /*=======NAVBAR SECTION PROPERTIES=======*/
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    gap: 30px;
  }
  
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: rgb(95, 13, 70);
  }
  
  nav a:hover svg {
    opacity: 0;
  }
  
  nav a:after {
    content: "";
    font-size: 0.7rem;
    position: absolute;
    color: rgb(95, 13, 70);
    opacity: 0;
  }
  
  nav a:hover::after {
    opacity: 1;
  }
  
  nav a:first-child::after {
    content: "HOME";
  }
  
  nav a:nth-child(2):after {
    content: "ABOUT";
  }
  
  nav a:nth-child(3):after {
    content: "EXPERIENCES";
  }
  
  nav a:nth-child(4):after {
    content: "CONTACT";
  }
  
  
  /*=======SOCIAL MEDIA SECTION PROPERTIES=======*/
  
  ul {
    position: absolute;
    bottom: 20px;
    list-style: none;
  }
  
  ul > li > a {
    font-size: 1.3rem;
    color: rgb(95, 13, 70);
  }
  
  
  /*------------ MEDIA QUERIES ------------*/
  
  @media screen and (max-width: 800px) {
    .hidden {
      display: none;
    }
  
   .visible {
    padding-top: 5rem;
    /* z-index: 2; */
      /* display: flex;
      height: 80%;
      width: 70px;
      margin: 10px;*/
      animation: menu 1s ease forwards; 
    } 
  
    @keyframes menu {
      from {
        width: 0;
      }
      to {
        width: 100px;
      } 
    }
  
    /* .visible nav {
      top: 25%;
      gap: 20px;
    } */
  
  
    .nav-icon {
      width: 50px;
      height: 50px;
      position: fixed;
      background-color: aliceblue;
      border: 0.3rem solid rgb(95, 13, 70);
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 6px;
      margin: auto;
      cursor: pointer;
      top: 1em;
      left: 1.1em;
      z-index: 4;
    }
  
    .navClick_class {
      width: 45px;
      height: 0.5em;
      background-color: rgb(95, 13, 70);
      border-radius: 0.5em;
    }
  
    /* ANIMTION */
    /* clicked*/
  
    .navClick_class.clicked:nth-child(1) {
      /* top: 14px; */
      /* left: 2px; */
      width: 40px;
      transform: rotate(45deg) translate(50%, 50%);
      transition: ease-out 0.5s;
    }

    .navClick_class.clicked:nth-child(2) {
      opacity: 0;
    }
  
    .navClick_class.clicked:nth-child(3) {
      /* top: 14px; */
      /* left: 2px; */
      width: 40px;
      transform: rotate(-45deg) translate(50%, 50%) ;
      transition: ease-out 0.5s;
    }
  
    /* unclicked*/
    .navClick_class.unclicked {
      transform: rotate(0) translate(0);
      transition: ease-out 0.5s; 
    }
    
  }
  